@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(
    73.19% 111.55% at 93.07% 74.31%,
    #45278b 0%,
    #2e335a 100%
  );
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}
